<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydsh.stock.web.dao.ProcurementDao">
    <resultMap id="BaseResultMap" type="com.ydsh.stock.web.entity.Procurement">
        <id column="id" property="id" />
        <id column="procurement_no" property="procurementNo" />
        <id column="create_id" property="createId" />
        <id column="review_id" property="reviewId" />
        <id column="supplier_id" property="supplierId" />
        <id column="supplier_no" property="supplierNo" />
        <id column="supplier_name" property="supplierName" />
        <id column="in_storage_id" property="inStorageId" />
        <id column="procurement_type" property="procurementType" />
        <id column="total_num" property="totalNum" />
        <id column="total_amount" property="totalAmount" />
        <id column="in_storage_no" property="inStorageNo" />
        <id column="remarks" property="remarks" />
        <id column="review_remarks" property="reviewRemarks" />
        <id column="review_status" property="reviewStatus" />
        <id column="create_name" property="createName" />
        <id column="review_name" property="reviewName" />
        <id column="create_time" property="createTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, procurement_no, create_id, review_id, supplier_id, supplier_no, supplier_name, in_storage_id, procurement_type, total_num, total_amount, in_storage_no, remarks, review_remarks, review_status, create_name, review_name, create_time
    </sql>
</mapper>